body {
     --bg-color: #1c313a;
    /*--bg-color: #a8a8a8;    */
    /* font-family: "Roboto"; */
    color: #fafafa;
    /* padding-top: 60px; */
    background-color: var(--bg-color);
}

.output {
    /* font-family: 'Source Code Pro', monospace; */
    font-family: monospace;
    font-size: 12px;
    margin: 0;
}

.minimized-circle {
    height: 75px !important;
    width: 75px !important;
    border-radius: 50%;
    background-color: steelblue;
    display: flex;
    align-self: center;
    text-align: center;
    transition: all 0.3s;
}

.minimized-circle > * {
    display: none;
}
.minimized-circle:hover {
    background-color: wheat;
}

.card-function {
    /* display: inline-block; */
    padding: 4px;
    /* border: 2px dashed steelblue; */
}

.hidden-card-function {
    display: none !important;
}

.card-function-text-header {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-function-textbox {
  border-radius: 8px;
  outline: none;
}

.card-function-btn {
  margin-top: 4px;
}

.command-cancel-form-btn {
  padding-top: 30px !important;
  transition: all 0.2s;
}

.command-cancel-form-btn:hover {
  color: wheat;
}

.card-function-choice {
  color: white;
}

.gone {
  display: none; !important;
}

#navbar_card_status {

}

#console_holder {
  overflow: hidden;
  max-height: 500px;
}

/* Animations */


/* Bootstrap Overwrites */

.navbar-text, .nav-link {
    color: white !important;
    transition: all 0.3s;
}

.nav-link:hover {
    color: steelblue !important;
}