body {
    --bg-color: #1c313a;
    font-family: "Roboto";
    color: #fafafa;
    /* padding-top: 60px; */
    background-color: var(--bg-color);
}

.output {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    margin: 0;
}

div.output {
    max-height: 300px;
    height: 300px;
    overflow: auto;
}

.user-input {
    font-weight: 500;
    font-size: 24px;
}

.testing {
    display: none !important;
}

div.col-md-12 > p {
    text-align: center;
}

.navbar-text {
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    opacity: 0.83;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1) !important;
}

#lookforcard:hover {
    
}

/* Forms */

.info-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.5em;
}

#action_inputfield {
    padding: 4px;
    display: none;
    border: #fafafa 1px solid;
    font-size: 0.6em;
}

#cancel-form {
    margin-left: 4px;
    color: #aeaeae;
}

/* Commands Div & Expandable Circle */

#command-div {
    margin-top: 10px;
    border-radius: 100%;
    /* background-color: white; */
    align-self: center;
    width: 50%;
}

#commands {
    visibility: hidden;
    border: 1px dashed white;
}

.square-div {
    width: 30px;
    height: 30px;
    background-color: coral;
}

.square-div:hover {
    animation: square-to-circle 5s .2s 3 cubic-bezier(1, .015, .295, 1.225) normal;    
}

.expandable-circle {
    width: 50px !important ;
    height: 50px !important;
    color: #fff;
    background-color: white;
    align-content: center;
    transition: all 0.2s;
    
}

.expandable-circle:hover {
    background-color: dodgerblue;
}

#close-commands {
    margin: 4px 4px;
}

/* End Commands Div */


.square-to-circle-anim {
    animation: square-to-circle 2s .5s 3 cubic-bezier(1, .015, .295, 1.225) normal;
}


@keyframes square-to-circle {
    0% {
        border-radius: 0 0 0 0;
        background: red;
        transform: rotate(0deg);
    }
    25% {
        border-radius: 50% 0 0 0;
        background: blue;
        transform: rotate(45deg);
    }
    50% {
        border-radius: 50% 50% 0 0;
        background: green;
        transform: rotate(90deg);
    }
    75% {
        border-radius: 50% 50% 50% 0;
        background: steelblue;
        transform: rotate(135deg);
    }
    100% {
        border-radius: 50%;
        background: fuchsia;
        transform: rotate(180deg);
    }

}